<div class="column-1">

  <h1>The Stadium Choir</h1>

  <div id="rendered-content">

    <h2>Come sing in the Stadium of Fire!</h2>
    
    <p>This year's choir will have a bigger role than ever before, starring in
    the opening sequence and during the flag retirement ceremony at the end.</p>
   
    <p>We need between 300 and 350 voices.  If you know of other singers, please
    send them to this page.</p>

    <p>We will be singing <em>76 Trombones</em>, <em>America the
    Beautiful</em>, <em>Grand Old Flag</em>, <em>God Bless America</em>, and the
    <em>Battle Hymn of the Republic</em>.</p>


    <h2>Requirements</h2>
    <ul>
      <li>You must be of high-school age or older.</li>

      <li>You must be able to hold your own voice part while others are singing
      different parts in the other sections (don't worry&mdash;the sections will not
      be intermingled with each other).</li>

      <li>You must memorize your part for <em>76 Trombones</em>, since we will
      have blocking for that number.</li>

      <li><strong>You must familiarize yourself with your part on all songs on
      your own before the first rehearsal</strong> (music available for download
      from this site soon).</li>

      <li>You must be able to attend all rehearsals (exceptions granted on a
      case-by-case basis).</li>
    </ul>


    <h2>Rehearsal / Performance Schedule</h2>
    <p>We have the following times scheduled:</p>
      <ul>
        <li>Tuesday, June 16, 7pm-9pm</li>
        <li>Saturday, June 20, 10am-12pm</li>
        <li>Tuesday, June 23, 7pm-9pm</li>
        <li>Saturday, June 27, 10am-12pm</li>
        <li>Thursday, July 2, 8pm-10:30pm: Blocking at LaVelle Edwards Stadium</li>
        <li>Friday, July 3, 1pm-3pm: Choir/band rehearsal at stadium with Glenn Beck</li>
        <li>Friday, July 3, 7pm-11pm: Full Stadium of Fire dress rehearsal</li>
        <li>Saturday, July 4, from about 5 on: Stadium of Fire</li>
      </ul>
    <p>It is possible that with fewer songs, or if everyone simply learns all of
    the music quickly, we can cancel one of the first four rehearsals.  If it
    takes us longer to learn the music, there is also the possibility of an
    additional rehearsal on Tuesday, July 2.  The rehearsal location will be
    announced.  We have a church building scheduled but are shooting for a more
    accommodating practice venue.</p>


    <h2>Recording</h2>
    <p>We will be looking for a small group of advanced singers (around 40
    voices) from among the choir members who can participate in a prior
    recording session of the music we will sing on the 4th.  This will require
    an audition, early learning of the music, and some early rehearsals (the
    recording date will probably be during the 3rd week of June).  You may
    indicate your interest in participating in that group on the sign-up
    form.</p>


    <h2>Tickets</h2>
    <p>Unfortunately, there will be too many people in the choir to allow for
    each member to get a complimentary ticket for a loved one.  The Stadium
    producers have set aside a few hundred tickets for purchase by members of
    the choir for their loved ones up until late June.  Of course, each singer
    will be given free admission.  We also recommend you try to join the choir
    as couples or families (provided all can meet the requirements).</p>


    <h2>Signing Up</h2>
    <p>The "Sign Up" link to the right will take you to the sign-up page.</p>

    <h2>Contact</h2>
    <p>You may email us at stadium<foo>choir<foo>@<foo>twoedge<foo>.<foo>com
    with any questions you may have.  Please be patient, as there aren't very
    many of us.  We'll try and get back to you as soon as possible.</p>

  </div>

</div>


<div class="column-2">

  <div class="standard-container">
    <div>
      <h1><a href="/signup">Sign Up</a></h1>
    </div>
    <div>
      <h2><a href="/flyers">Recruitment Flyers</a></h2>
    </div>
  </div>

</div>
