<div class="column-1">

  <h1>The Stadium Choir</h1>

  <div id="rendered-content">

    <h2>Music</h2>

    <p>Here is the sheet music for the songs we'll be singing.
    <span style="font-weight:bold">You need to print it and bring it to
    rehearsal.</span></p>

    <%
      pieces = [
        "America the Beautiful",
        "Battle Hymn of the Republic",
        "God Bless America",
        "76 Trombones",
        "Grand Old Flag G"
      ]
    %>
    <ul>
      <% pieces.each do |piece| %>
        <% piece_file = piece.gsub(/\s+/, '_').downcase %>
        <li><a href="http://www.twoedge.com/stadiumchoir/<%= piece_file %>.pdf"><%= piece %></a>
      <% end %>
    </ul>

    <p>Here are the recordings we'll be singing along to.  Please familiarize
    yourself with all of the timing issues (tempos, length of fermatas, length
    of breaks, etc.)</p>

    <p><em>Grand Old Flag</em> will be here soon.</p>

    <%
      recordings = [
        ["America, the Beautiful", "01_america_the_beautiful.mp3"],
        ["76 Trombones", "76_Tmb_AFMB_09.mp3"],
        ["God Bless America", "God_Bless_America.mp3"],
        ["Fireworks Finale", "SOF_09_Patriotic_Pyro_Edit_1.mp3"],
        ["Battle Hymn of the Republic", "05_battle_hymn_of_the_republic.mp3"],
        ["Grand Old Flag", "grand_old_flag.mp3"]
      ]
    %>
    <ul>
      <% recordings.each do |recording| %>
        <li><a href="http://www.twoedge.com/stadiumchoir/<%= recording[1] %>"><%= recording[0] %></a></li>
      <% end %>
    </ul>

  </div>

</div>


<div class="column-2">

  <div class="standard-container">
    <div>
      <h1><a href="/">Home</a></h1>
    </div>
  </div>

</div>
