<h1>Admin</h1>

<h2>Singer Count</h2>
<p>
  Total: <%= @singers.size %><br>
  Unique Email Addresses: <%= @singers.size - @email_dupes.size %>
</p>

<h2>Duplicate Email Addresses</h2>
<table border="1">
  <% @email_dupes.each do |email,val| %>
    <tr>
      <th><%= email %></th>
      <td>
        <% val[:differences].each do |k,values| %>
          <%= ["<b>#{k}</b>", values.collect{|v| "-#{v}"}].flatten.join("<br>") %>
          <br>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
