<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>American's Freedom Festival at Provo</title>
	<meta name="author" content="Bermon Painter">
	
    <link href="/stylesheets/default.css?1242323376" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/print.css?1242323376" media="print" rel="stylesheet" type="text/css" />
    
    <script src="/javascripts/jquery.js?1242323376" type="text/javascript"></script>
    <script src="/javascripts/jquery.easing.js?1242323376" type="text/javascript"></script>
    <script src="/javascripts/jquery.easing.compatibility.js?1242323376" type="text/javascript"></script>
    <script src="/javascripts/jquery.slider.js?1242323376" type="text/javascript"></script>
    <script src="/javascripts/jquery.fancybox.js?1242323376" type="text/javascript"></script>
    <script src="/javascripts/jquery.textshadow.js?1242323376" type="text/javascript"></script>
    <script src="/javascripts/global.js?1242323376" type="text/javascript"></script>
    
    <!--[if IE 7]>
    <link href="/stylesheets/ie7.css?1242323376" media="screen" rel="stylesheet" type="text/css" />
    
    <![endif]-->
 <!-- 
	<script type="text/javascript" language="JavaScript1.2" src="/javascripts/stm31.js"></script>
	<script type="text/javascript" src="/javascripts/validate.js"></script>    
-->
	
</head>

<body id="">
    <div id="container">
        <a href="http://www.freedomfestival.org" id="logo">American's Freedom Festival at Provo</a>
        <a href="http://www.stadiumoffire.com" id="sof-logo">Stadium of Fire</a>

        <div id="content">
          <div id="main" class="two-columns clearfix">

            <%= yield %>

          </div><!-- END content -->
        </div>
        
        <div id="footer">
            <p>Copyright &copy; 2009 America's Freedom Festival at Provo. All Rights Reserved</p>
        </div><!-- END footer -->
    </div><!-- END container -->
    
    
<script type="text/javascript">
/* <![CDATA[ */
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
/* ]]> */
</script>
<script type="text/javascript">
/* <![CDATA[ */
    try {
        var pageTracker = _gat._getTracker("UA-7035308-1");
        pageTracker._trackPageview();
    } 
    catch(err) {}
/* ]]> */
</script>
</body>
</html>
